<%- include('partials/header') -%>

  <h1 class="text-4xl mb-4">Welcome <%= user.nickname %></h1>

  <% if (user.picture) { %>
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= user.picture %>" alt="Imagen Perfil">
      <div class="card-body">
        <h5 class="card-title">Bienvenido usuario <%= user.nickname %></h5>
        <p class="card-text"><%= user.email %></p>
        <a href="./logout" class="btn btn-primary">Logout</a>
      </div>
    </div>
  <% } %>
  
  <p class="py-3">
    Estos son los datos del usuario almacenados en Auth0 <code class="bg-gray-200">req.user</code>.<br>
  </p>

  <pre class="block bg-gray-300 p-4 text-sm overflow-scroll"><%= userProfile %></pre>

<%- include('partials/footer') -%>
